.vscode/
envsetup.md
./envsetup.md
privacy
./privacy
./device
./ipc
./backup
backup
./security3rdparty/orbbec/lib/
cmake_build.sh
./3rdparty/orbbec/
./3rdparty/libdevice/include/ai_cpython_*
3rdparty/libdevice/include/ai_cpython_*
./orbbec
./orbbecsdk
orbbec
orbbecsdk
build
./build
model/orbbec_algorithm/images
model/orbbec_algorithm/runs
model/orbbec_algorithm/model/runs
__pycache__/
**/__pycache__/
